
body{
background-image: url("../images/background.jpg");
background-position: center top;
background-size: 640px 960px;
padding: 25px;
font-family: 'Open Sans', sans-serif;
}


* { border: 1px solid grey; }

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
